// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

[role="button"] {
  cursor: pointer;
}

body {
  color: rgba(76,76,70,1);
}

.row {
}

.img-thumbnail {
  border-radius: 0px;
  border: none;
  padding: 0;
}

.new-article-tag {
  position: absolute;
  background-color: rgba(232,92,63,1);
  p {
    font-size: 1.6em;
    color: white;
    font-style: oblique;
    font-weight: 600;
  }
  .new-text {}
}

.article-search {
  form {
    border: 4px solid #E85C40;
    :placeholder-shown {
      color: rgba(45,45,42,0.5);
    }
    ::-webkit-input-placeholder { color: grey; }
    :-moz-placeholder { color: grey; opacity: 1; }
    ::-moz-placeholder { color: grey; opacity: 1; }
    :-ms-input-placeholder { color: grey; }
    input.form-control {
      border: 0;
    }
  }
}

.article-list {
  .article-info{
    ul{
      margin-bottom: 0.75vh;
      li{
        font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
        display: inline-block;
        list-style: none;
        margin-right: 1vw;
        font-size: 15px;
      }
      .release-date{
        font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
        display: inline-block;
        float: right;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

.item-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

@media (max-width: 480px) {
  @font-face {
    font-family: 'zousan';
    src: font-url('zousan.otf') format('truetype');
  }

  .container-fluid {
    padding: 0;
  }

  .new-article-tag {
    top: 20%;
    padding: 0.4em 2.1em;
    p {
    }
    .new-text {}
  }


  .mobile-header-text {
    color: rgba(232,92,63,1);
  }
  .header_image {
    height: 23vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    .center_logo {
      padding-top: 0;
      .zousan {
        color: rgba(232,92,63,1);
        text-shadow: none;
      }
    }
  }

  .attributes {
    height: auto;
    .center-block {
      .col-xs-1, .col-xs-2 {
        padding: 0px;
      	font-size: 12px;
        font-weight: 800;
        line-height: 18px;
        text-align: center;
      }
    }
  }

  .article-search {
    margin-top: 0.1em;
    width: 90vw;
    form {
      border: 0.25em solid #E85C40;
      .form-control {
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 2.7vw;
        font-size: 1.1em;
        border-radius: 0;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
        font-weight: 600;
      }
    }
  }
  .writer-img {
    width: 1.7em;
    height: 1.7em;
    display: inline-block;
    margin-right: 9px;
  }

  .article-container {
    .article-list {
      margin-right: 0;
      margin-left: 0;
      .article-card {
        margin-right: 1px;
        margin-left: 1px;
        .article-info{
          padding: 0 4px;
          ul{
            li{
              font-size: 0.9em
            }
            .release-date{
              display: none;
            }
          }
          .article-title {
            margin-bottom: 1.5vh;
            h2 {
              font-size: 1.1em;
              letter-spacing: 1px;
            }
          }
          .article-author {
            font-size: 0.8em;
            .mobile-release-date {
              display: inline-block;
              padding-top: 0.2em;
              p {
                display: inline-block;
              }
            }
            .author-info {
              float: right;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              p {
                display: inline-block;
              }
              image {
                width: 0.8em;
                height: 0.8em;
              }
            }
          }
        }
      }
    }
  }


  .article-list {
      width: 100vw;
    .col-xs-12 ,.col-xs-6 {
      padding: 0;
      margin-right: 0;
      margin-left: 0;
      .image-container {
        background-image: url(sarada.jpg);
        background-size: cover;
        margin-bottom: 1vh;
        .img-article {
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
      .image-container {
        width: 100%;
        height: calc(100% * 0.75);
      }
      .article-author {
        .author-info {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          img {
            margin-right: 5px;
          }
        }
      }
    }
    .col-xs-6 {
      padding: 0 3vw;
      .article-card {
        .image-container {
        }
      }
    }
    .col-xs-12 {
      .article-card {
        .image-container .img-article {
          background-color: rgba(0, 0, 0, 0.52);
        }
        .article-info {
          position: absolute;
          width: 90vw;
          bottom: 27%;
          color: #fff;
          margin-left: 5vw;
          .article-author {
            float: right;
            text-align: right;
            .mobile-release-date {
              display: block;
            }
            .author-info {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
            }
          }
          .article-title {
            text-align: right;
            font-size: 1.4em;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 480px) {
  @font-face {
    font-family: 'zousan';
    src: font-url('zousan.otf') format('truetype');
  }

  .zousan {
    font-family: 'zousan';
  }
  .YuGothic{
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
  }
  body {
    background: #fef7e5;
  }

  .top-image {
    margin-left: auto;
    margin-right: auto;
  }

  .top-header {
    height: 8vh;
    min-height: 65px;
    background: #E85C40;
    .navbar-brand:hover {
      opacity: 1;
    }
    .navbar-brand {
      padding-left: 2.8vw;
      height: 100%;
      color: white;
      opacity: 0.3;
      p {
        margin: 0;
      }
      .what-is-text {
        font-size: 14px;
        font-weight: 900;
        line-height: 13px;
      }
      .shokubunka-text {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    ul {
      padding-right: 2.5vw;
      height: 8vh;
      min-height: 65px;
      li {
        color: white;
        opacity: 0.3;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
        list-style: none;
        font-size: 1.4em;
        font-weight: bold;
        margin: 0 1.5vw 0 1vw;
      }
      li:hover {
        opacity: 1;
      }
    }
  }

  .empty-header {
    height: 8vh;
    width: 100%;
  }

  .header_image{
    height: 46vh;
    background-image: url('toppicture_mini.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .center_logo {
      .logo-container {
        height: 38vh;
        .zousan {
          padding: 0;
          margin: 0;
          margin-bottom: 1vh;
          color: #fdeec2;
          text-shadow: 2px 5px 0px #F04220;
        }
        h1 {
          font-size: 6em;
        }
        h2 {
          font-size: 4em;
        }
      }
    }
  }

  .new-article-tag {
    top: 16%;
    left: -1%;
    padding: 0.4em 2em 0.4em 3em;
    p {
    }
    .new-text {}
  }

  .attributes {
    height: 9vh;
    border-top: double 15px #e85c40;
    border-bottom: double 15px #e85c40;
    background: white;
    .row {
      height: 100%;
      table-layout: fixed;
      text-align: center;
      .col-xs-2 {
        color: #e85c40;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }

  .article-search {
    margin-top: 5vh;
    margin-bottom: 4.5vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    form{
      border: 4px solid #E85C40;
      :placeholder-shown {
        color: rgba(45,45,42,0.5);
      }
      ::-webkit-input-placeholder { color: grey; }
      :-moz-placeholder { color: grey; opacity: 1; }
      ::-moz-placeholder { color: grey; opacity: 1; }
      :-ms-input-placeholder { color: grey; }
    }
    .form-control {
      padding-top: 24px;
      padding-bottom: 22px;
      padding-left: 29px;
      font-size: 1.5em;
      border-radius: 0;
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
      font-weight: 600;
    }
  }

  .article-container {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vh;
    .article-list {
      width: 90vw;
      .article-card {
        padding: 0 1vw 0 1vw;
        margin-bottom: 4.7vh;
        .image-container {
          width: 27vw;
          height: calc(27vw * 0.73);
          background-image: url(sarada.jpg);
          background-size: cover;
          margin: 0 auto;
          .img-article {
            width: 100%;
            height: 100%;
            margin-bottom: 1.5vh;
            background-color: transparent;
          }
        }
        .article-info{
          margin-top: 0.8vh;
          .article-title:hover {
            text-decoration: underline;
          }
          .article-title {
            margin-bottom: 1.3vh;
            h2{
              font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
              font-size: 1.7em;
              font-weight: bold;
              font-size: 20px;
              font-weight: 800;
              letter-spacing: 2px;
              line-height: 25px;
            }
          }
          .article-author {
            .writer-img {
              width: 1.7em;
              height: 1.7em;
              margin-right: 9px;
              display: inline-block;
            }
            .writer-name {
              display: inline-block;
            }
            .mobile-release-date {
              display: none;
            }
          }
        }
      }
    }
  }
}
