// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width: 480px) and (min-width: 200px) {
@font-face {
  font-family: 'zousan';
  src: font-url('zousan.otf') format('truetype');
}

.zousan {
  font-family: 'zousan';
}
.YuGothic{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}
body {
  background: #fef7e5;
}

.row {
  margin: 0;
}

.top-image {
  margin-left: auto;
  margin-right: auto;
}

.top-header {
  display: none;
}

.header_image{
  height: 30vh;
  .center_logo {
    padding-top: 5vh;
    h1{
      font-size: 4em;
    }
    h2{
      font-size: 3em;
    }
    .zousan{
      padding: 0;
      margin: 0;
      color: #fdeec2;
      text-shadow: 4px 4px 0px #E85C40;
      margin-bottom: 2 vh;
    }
  }
}

.attributes {
  height: 5vh;
  margin: 0;
  ul{
    padding: 0;
    width: 100%;
    margin-top: 3%;
    table-layout: fixed;
    text-align: center;
    li{
      display: inline-block;
      text-align: center;
      color: #e85c40;
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
      list-style: none;
      font-size: 1.5em;
      font-weight: bold;
      margin-left: 2vw;
    }
  }
}

.article-search {
  margin-top: 5vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  form{
    border: solid 7px #e85c40;
    :placeholder-shown { color: grey; }
    ::-webkit-input-placeholder { color: grey; }
    :-moz-placeholder { color: grey; opacity: 1; }
    ::-moz-placeholder { color: grey; opacity: 1; }
    :-ms-input-placeholder { color: grey; }
  }
}

.article-list {
  h1{
    color: #e85c40;
    font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
    font-size: 4em;
    font-weight: bold;
  }
  margin-top: 5vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  .article-card {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 5vh;
    .article-info{
      ul{
        li{
          font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
          display: inline-block;
          list-style: none;
        }
        .release-date{
          font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
          display: inline-block;
        }
      }
      .article-title {
        h2{
          font-family:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
          font-size:2em;
          font-weight: bold;
        }
      }
    }
  }
}
}
